#input {
    border: 1px solid blue;
    overflow-y: scroll;
    justify-content: space-between;
}
#nav {flex: 1 20em;}
#container {
    flex: 4 40em;
    flex-direction: column;
    align-content: stretch;
    /* height: 30em; */
    display: flex;
    justify-content: space-between;
}
#view {
    /* display: flex; */
    flex: 1 fill;
    /* align-self: stretch; */
}
body {
    flex-flow: row;
    display: flex;
    /* align-content: stretch; */
}
