@font-face{
    font-family: rex;
    src: url('rex-xits.otf');
}
#input {
    border-top: 1px solid blue;
    overflow-y: scroll;
    justify-content: space-between;
    font-family: monospace;
    padding: 0.5em 0;
}
#nav {
    flex: 1 0 12em;
    font-size: 9pt;
}
#nav > * {
    margin: 0;
}
#nav > ul {
    list-style: none;
    padding: 0 0 0 1em;
}
#nav > ul > li {
    cursor: pointer;
    margin: 0 0 3pt 0;
}
#nav > ul > li:hover {
    color: blue;
}
#container {
    flex: 4 40em;
    flex-direction: column;
    align-content: stretch;
    display: flex;
    justify-content: space-between;
}
#view {
     display: flex;
    flex: 1 5em;
    overflow: scroll;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
}
#view-svg {
    overflow: visible;
}
#view-canvas {
    overflow: visible;
    display: block;
}
#zoom-ctl {
    position: absolute;
    right: 0;
    top: 0;
}
#status {
    flex: 0 0 1em;
    height: 1em;
    color: blue;
}
body {
    flex-flow: row;
    display: flex;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: 0.5em;
    font-size: 9pt;
    font-family: rex serif;
}
