#input {
    border: 1px solid blue;
    overflow-y: scroll;
    justify-content: space-between;
    flex: 1 0 2em;
}
#nav {
    flex: 1 0;
    font-size: 9pt;
}
#nav > * {
    margin: 0;
}
#nav > p {
    cursor: pointer;
    margin: 0 0 3pt 0;
}
#nav > p::before {
    content: attr(title);
}
#container {
    flex: 4 40em;
    flex-direction: column;
    align-content: stretch;
    /* height: 30em; */
    display: flex;
    justify-content: space-between;
}
#view {
    /* display: flex; */
    flex: 1 5em;
    /* align-self: stretch; */
    border: 1px solid green;
    overflow: scroll;
}
#view-svg {
    overflow: visible;
}
#zoom-ctl {
    position: absolute;
    right: 0;
}
body {
    flex-flow: row;
    display: flex;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}
